0 * * * * /usr/bin/mount -a
10 * * * * /usr/bin/rsync -ax /mnt/psv_results/ /data/psv_results/
15 * * * * /usr/bin/rsync -ax /mnt/dam_daily/ /data/dam_daily/
20 * * * * /usr/bin/Rscript /root/update_rethomics.R


















