0 * * * * /usr/bin/Rscript /root/update_rethomics.R
15 * * * * /bin/bash /root/fetch_ethoscope_results.sh
30 * * * * /usr/bin/Rscript /root/cache_ethoscope_results.R
45 * * * * /bin/bash /root/fetch_ethoscope_videos.sh




















